.logout{
  font-size: 50px;
}
.logout:hover{
cursor: pointer;
}

.errspan {
  float: right;
  margin-right: 6px;
  margin-top: -26px;
  position: relative;
  z-index: 2;
  color: black;
  cursor: pointer;
}

